@import "src/common/styles/scss/variable";
@import "src/common/styles/scss/mixins";

.link_wrapper {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding: 10px;

  .link_element {
    text-decoration: none;
    font-weight: 500;
    color: $textColor;
    letter-spacing: 1px;
    @include linkBottomLine;
  }

  .link_icon {
    margin-left: 5px;
  }
}