@import "src/common/styles/scss/variable";
@import "src/common/styles/scss/mixins";

.main_wrapper {
  min-height: 100vh;
  background-color: $bgColor;
  padding: 180px 0 20px;
  @media screen and (max-width: 1000px) {
    padding: 100px 20px 20px;
  }

  .main_container {
    @include container();
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: 1000px) {
      flex-direction: column;
    }

    .main_info {
      font-size: 1.4em;
      color: $textColor;
      width: 300px;
      text-align: center;
      padding: 10px 0;
      z-index: 0;
      @media screen and (max-width: 1000px) {
        margin-bottom: 1em;
        width: 300px;
      }
      @media screen and (max-width: 770px) {
        font-size: 1.2em;
      }
      @media screen and (max-width: 380px) {
        font-size: 1em;
        width: 260px;
        text-align: center;
      }
    }

    .test {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 110%;
        width: 105%;
        border: white solid 5px;
        border-radius: 15px;
        left: 15px;
        top: -15px;
        color: white;
        z-index: -1;
      }
    }

    .main_photo {
      height: 640px;
      width: 480px;
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: saturate(180%) blur(30px);
      position: relative;
      @media screen and (max-width: 770px) {
        width: 260px;
        height: 360px;
      }
      @media screen and (max-width: 380px) {
        font-size: 1em;
        width: 260px;
        text-align: center;
      }
    }
  }
}



