@import "src/common/styles/scss/variable";

.title__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title__content {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: calc(1.3rem + .8vw);
    line-height: 1.2;
    color: $textColor;
    margin: 0 0 15px;
    padding-bottom: 15px;
}

.title__content::after {
    content: "";
    width: 60px;
    height: 2px;
    position: absolute;
    top: 100%;
    left: calc(50% - 30px);
    //background-color: $primaryColor;
    background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
    background-size: 120% 2px;
}