@import "src/common/styles/scss/variable";
@import "src/common/styles/scss/mixins";

.footer_wrapper {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(1, 1, 1, 0.9);
    backdrop-filter: saturate(180%) blur(20px);
    position: relative;
    z-index: 1;

    .footer_container {
        @include container();
        display: flex;
        flex-direction: column;
        align-items: center;

        .footer_name {
            font-family: "Rubik", sans-serif;
            font-weight: 500;
            padding: 1em 0;
        }

        .footer_boxs {
            min-width: 350px;
            display: flex;
            justify-content: space-between;

            .footer_box {
                text-decoration: none;
                color: $iconAndSecondaryTextColor;
                &:hover {
                    color: $textColor;
                }
            }
        }

        .footer_copyright {
            margin-top: 20px;
        }
    }
}




