@import './src/assets/styles/variabels';
@import './src/assets/styles/mixins';

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

  .main__header {
    display: flex;
    flex-direction: column;
    padding-top: 80px;

    .main__header_text {
      @include font(2.4rem, 600, $textColor);
    }

    .main__header_typing {
      text-align: center;
      font-family: monospace;
      font-size: 1.6rem;
    }

    .main__contacts {
      display: flex;
      list-style: none;
      justify-content: space-around;

      padding: 16px;
    }
  }

  .main__img {
    position: relative;
    width: 480px;
    height: 640px;

    img {
      width: 480px;
      height: 100%;
      border-radius: 15px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      background-color: rgba(0,0,0,.2);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
    }

    &::after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 15px;
    }

    &::before {
      content: '';
      position: absolute;
      height: 100%;
      width: 105%;
      border: 5px solid $darkColor;
      border-radius: 15px;
      left: 10px;
      top: -10px;
    }
  }

  @media screen and (max-width: 1440px) {
    .main__img {
      width: 360px;
      height: 480px;

      img {
        width: 360px;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .main__img {
      width: 320px;
      height: 420px;

      img {
        width: 320px;
      }
    }
  }

  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
    justify-content: normal;

    .main__header {
      margin-top: 60px;
    }

    .main__img {
      margin-top: 60px;

      &:after {
        margin-top: 60px;
      }
    }
  }

  @media screen and (max-width: 420px) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .main__header {
      margin-top: 20px;
    }

    .main__img {
      width: 280px;
      height: 360px;
      margin-top: 0;

      img {
        width: 280px;
      }

      &:after {
        margin-top: 0;
      }
    }
  }
}