@import "common/styles/scss/variable.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-size: medium;
  color: $textColor;
  background-image: linear-gradient(to left, #12c2e9, #c471ed, #f64f59);
}
