@import "src/common/styles/scss/variable";

.contacts_wrapper {
  //background-color: $bgColor;
  background-color: rgba(22, 22, 22, 0.9);
  padding: 60px 0;

  .contacts_container {
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .contacts_title {
      &::after {
        content: 'ss';
        position: absolute;
        top: 0;
        left: 0;
      }
    }

    .contacts_form {
      margin-top: 20px;
      border: 1px solid rgba(255, 255, 255, 0.1);
      background: rgba(255, 255, 255, 0.04);
      backdrop-filter: saturate(180%) blur(20px);
      -webkit-backdrop-filter: saturate(180%) blur(30px);
      border-radius: 15px;
      padding: 35px;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;
      @media screen and (max-width: 1200px){
        width: 480px;
      }
      @media screen and (max-width: 650px){
        width: 350px;
      }

      & input {
        width: 100%;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        font-family: inherit;
        font-size: 1.1em;
        color: $textColor;
        margin: 0.3em;
        padding: 0.7em 1em;
      }

      & textarea {
        width: 100%;
        resize: none;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        font-family: inherit;
        font-size: 1.1em;
        color: $textColor;
        margin: 0.3em;
        padding: 0.7em 1em;
      }

      .contacts_button {
        width: auto;
        margin-top: 20px;
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        color: $textColor;
        padding: 1em;
        position: relative;
        cursor: pointer;

        &::after {
          content: 'ss';
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
  }
}







